{% extends "layout.html" %}
{% block body %}
    <h1>Strava: </h1>
    Authenticated as {{ athlete_info.firstname }} {{ athlete_info.lastname }}
    <h2>Choose 'friend' to fight:</h2>
    <form method="post">
        <select name="friend_id_to_compare">
            {% for friend in friends %}
            <option value="{{ friend }}">{{ friend.firstname }} {{ friend.lastname }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit">
    </form>

    # Only render the stuff below if a friend has been chosen.
    {% if friend_target_comparison_info %}
        <h2> {{ athlete_info.firstname }} {{ athlete_info.lastname }} vs {{ chosen_friend.firstname }} {{ chosen_friend.lastname }}</h2>
        kudos: {{ friend_target_comparison_info.kudos_comparison }}<br>
        achivements: {{ friend_target_comparison_info.achievement_comparison }}<br>
    {% endif %}


            'kudos_comparison': kudos_totals,
            'achievement_comparison': achievement_comparison,

{% endblock %}




