{% extends "layout.html" %}
{% block body %}
    <h1>Strava: </h1>
    Authenticated as {{ authenticated_athlete_info.firstname }} {{ authenticated_athlete_info.lastname }}
    <h2>How your recent activities compare against your friends':</h2>

    <table border="1">
    <tr> <td> <b>Full name</b> </td>    <td> <b>KUDOS</b> </td>    <td> <b>CUPS</b> </td> </tr>
    {% for friend in friends_stats_summary|sort(attribute='total_num_recent_kudos', reverse=True) %}

        {% if friend.full_name == (authenticated_athlete_info.firstname + ' ' + authenticated_athlete_info.lastname) %}
        <tr style="color: #fff; background: black;">
        {% else %}
        <tr>        
        {% endif %}
            <td> {{ friend.full_name }} </td>

            <td> {{ friend.total_num_recent_kudos }} </td>

            <td> {{ friend.total_num_recent_achievements }} </td>
        </tr>
    {% endfor %}    
    </table>    
{% endblock %}




